Source: automoc
Section: devel
Priority: extra
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Modestas Vainius <modax@debian.org>
Build-Depends: debhelper (>= 7.3), libqt4-dev, cmake
Standards-Version: 3.8.3
Homepage: http://cia.vc/stats/project/kde/automoc
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-req/automoc.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-req/automoc.git

Package: automoc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-dev
Description: automatic moc for Qt 4 packages
 This package contains the automoc4 binary which is used to run moc on the right
 binaries in a Qt 4 or KDE 4 application.
 .
 Moc is the meta object compiler which is a much used tool when using the Qt
 toolkit.
